* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}

body {
  background: white;
  text-align: center;
  font-family: sans-serif;
}

header h1 {
  display: inline-block;
  padding: 3rem;
  border: 3px solid #423d3d;
  background: white;
}

main div {
  display: inline-block;
  padding: 1rem;
  margin-top: 3rem;
  border: 2px solid #423d3d;
  background: white;
}

input[type="text"],
select {
  padding: 0.5rem;
}

button {
  padding: 0.5rem;
  background: yellowgreen;
  border: 1px solid #423d3d;
}

.wrapper {
  padding: 3rem 1rem;
}
